<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//ES" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Cambiar contraseña</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/css?family=Roboto"
          rel="stylesheet" />
</head>
<body style="margin: 0; padding: 0;">
    <table cellpadding="0" cellspacing="0" width="100%">
        <tr>
            <td>
                <table align="center"
                       cellpadding="0"
                       cellspacing="0"
                       width="600"
                       style="border-collapse: collapse;">
                    <tr>
                        <td bgcolor="#ffaf53" width="100%" height="30">&nbsp;</td>
                    </tr>
                    <tr>
                        <td>
                            <table bgcolor="#fff" width="100%">
                                <tr>
                                    <td align="center" style="padding: 36px 0 25px 0;">
                                        <img src="https://camposantodigital.cl/images/CampoSanto/assets/Logos/png/logo_120x120.png"
                                             alt="CampoSanto logo"
                                             width="100"
                                             height="100"
                                             style="display: block;" />
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <table align="center"
                                               bgcolor="#ffffff"
                                               width="80%"
                                               style="border-radius: 5px; box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);">
                                            <tr>
                                                <td align="left"
                                                    style="padding: 35px 44px 10px 44px; color: #262b2b; font-family: Geometria-Bold, sans-serif; font-size: 14px;">
                                                    Hola {{$firstName}}!,
                                                </td>
                                            </tr>
                                            <tr>
                                                <td align="left" style="padding: 0 44px 15px 44px; color: #262b2b; font-family: Roboto, sans-serif; font-size: 14px; line-height: 25px;">
                                                    Haz clic en este boton para restablecer tu contraseña:
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <table align="center"
                                                           cellspacing="0"
                                                           cellpadding="0"
                                                           style="padding: 0 0 20px 0;">
                                                        <tr>
                                                            <td align="center"
                                                                style="border-radius: 5px;"
                                                                bgcolor="#ffaf53"
                                                                width="240"
                                                                height="48">
                                                                <a href="{{$url}}"
                                                                   target="_blank"
                                                                   style="font-size: 17px; font-family: Roboto, sans-serif; color: #ffffff; text-decoration: none;border-radius: 3px; padding: 12px 18px; display: inline-block;">
                                                                    Cambiar Contraseña
                                                                </a>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td align="left"
                                                    style="padding: 0 44px 24px 44px; color: #262b2b; font-family: Roboto, sans-serif; font-size: 14px; line-height: 23px;">
                                                    No fuiste tú?, puedes omitir este correo.
                                                    <br />
                                                    Este correo se ha generado automaticamente, favor no responder!
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td height="107">&nbsp;</td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>
</html>